body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(Image/f2017979ae4f1fd165218d3709225e76.jpg);
}

header {
    
    color: red;
    padding: 15px;
    text-align: center;
}

nav { 
    padding: 10px;
    position: relative;
    font-size: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo img {
    max-width: 175px;
    height: 175px;
}
h3{
    font-size: 45px;
    color: white;

}
.logo h3{
    text-align: center;
    margin: 0;
    flex-grow: 1;
}
@media only screen and (max-width: 600px) {
    .logo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo img {
        margin-bottom: 10px;
    }
    h3{
        font-size: 30px;
    }
    
}
h2{
    color: orangered;
    font-size: 28px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: calc(33.33% - 20px);
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h3 a{
    text-decoration: none;
    color: black;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 
.participant-image{
    max-width: 110%;
    height: auto;
    min-width: 90%;
    min-height: 50%;
}
.card h3 a:hover{
    color: red;
}
.card h3 a:active{
    color: orangered;
}
.card h3 a:visited{
    color: purple;
}


  @media screen and (max-width: 1000px) {
    .card {
        width: calc(50% - 20px);
    }
} 

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
} 

#menuToggle {
    color: black;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    
}

#menuItems {
    display: none;
    color:black;
}

#menuItems.active {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin-bottom: 5px;
    }  
}
.more-events {
    text-align: center;
    margin-top: 20px;
}

.more-events p{
    color: white;
    font-size: large;
}
.more-events a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.more-events a:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {
    .more-events {
        margin-top: 10px;
    }

    .more-events a {
        padding: 8px 16px;
    }
}
